
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    margin: 0;
    padding: 0;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	background-image: url("../background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
h1 {
	color: #fff;
	text-shadow: 0 0 5px #000;
}
.card {
    &.bg-blue {
    	background: rgba(0,48,138,0.8);
    }
    &.bg-green {
    	background: rgba(10,111,0,0.8);
    }
}
.card-columns {
	-moz-column-count: 2;
	-moz-column-gap: 30px;
}

#event-form {
	.ui-datepicker {
		width: 100%;
		font-size: 0.85em;
		line-height: 1.25;
	}
	.ui-widget-content, .ui-widget.ui-widget-content {
		background-color: transparent;
		border: 0;
		color: inherit;
	}
	.ui-datepicker th {
		font-weight: normal;
		padding: 0.5em 0.3em 0.3em 0.3em;
	}
	.ui-datepicker td {
		padding: 2px 4px;
	}
}
.registration_details .form-check-input {
	margin-top: 0.4rem;
}
#description {
	height: 150px;
}
#event-form {
	display: none;
}
#auth-error {
	display: none;
}
#event-card {
	animation: width 0.5s;
}
